# dependencies
node_modules/

# next.js development and production build outputs
.next/
.next-dev/
dist/
build/

# environment variables (private data)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# misc
.DS_Store